# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log
yarn-error.log

# Environment files (IMPORTANT)
.env
.env.*
!.env.example

# Laravel core
/vendor
/node_modules

# Laravel storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/pail

# Public files
/public/storage
/public/hot
/public/build

# IDE / Editor
/.idea
/.vscode
/.fleet
/.zed

# Testing
.phpunit.result.cache
.phpunit.cache

# Auth & config
auth.json

# Homestead / Vagrant
Homestead.json
Homestead.yaml
/.vagrant